<header class="l-header" data-role="sticky">
  <div class="ctx-dark c-top">
    <div class="c-top__container">
      <a class="c-logo c-logo--en" rel="home" href="/">
          <span></span>
      </a>
      <a *ngIf="isUserAuthenticated" class="c-top__userpic" [routerLink]="userProfile">
        <div class="o-img is-round" style="background-color: #767d7b;" data-size="60,60">
          <span style="display: block; padding-top: 100%"></span>
          <img src="" loading="lazy" width="60" height="60">
        </div>
      </a>
      <div class="c-top__search">
        <form class="c-search c-top-search">
            <input class="c-input no-transition c-search__input c-top-search__input" type="search" name="text" placeholder="Search" maxlength="128" value="" data-role="topsearch"  >
            <button class="c-button c-button--primary c-top-search__button" type="submit">Find</button>
        </form>
      </div>
      <div class="o-group">
        <a *ngIf="!isUserAuthenticated" class="c-button" href="/auth/login">Log In</a>
        <!-- <a *ngIf="!isUserAuthenticated" class="c-button" href="/auth/signup">Sign Up</a> -->
        <a *ngIf="isUserAuthenticated" class="c-button" mat-button (click)="onLogout()">Log Out</a>
    </div>
    </div>
  </div>
</header>
