<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" #loginForm="ngForm" (submit)="onLogin(loginForm)">
    <h2>Log In</h2>
    <mat-error *ngIf="!loginValid">
      The username and password were not recognized
    </mat-error>
    <mat-form-field class="car-create-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter email"
        type="email"
        name="email"
        ngModel
        #emailInput="ngModel"
        email
        required
        >
        <mat-error *ngIf="emailInput.invalid">Please enter email</mat-error>
    </mat-form-field>
    <mat-form-field class="car-create-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        type="password"
        matInput
        placeholder="Enter password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        password
        >
        <mat-error *ngIf="passwordInput.invalid">Please a valid password</mat-error>
    </mat-form-field>
    <hr/>
    <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid" type="submit">Login</button>
  </form>
</mat-card>
