main{
  margin-top: 1rem;
  width: 80%;
  margin:-20px -20px 0;
  padding: 20px 0;
}

.m-header{
  z-index: 4;
  flex: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 20px;
}
.m-container{
  display: flex;
  flex: 1 0 auto;
  background-color: rgba(0, 0, 0, 0);
}

.m-nav{
  flex: none;
  min-width: 0;
  display: flex;
  flex-direction: column;
  width: 196px;
  top: 50px !important;
  margin-top: -20px;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
}

.m-page-header{
  flex: none;
}

.m-page-header header{
  word-wrap: break-word;
  margin-bottom: 20px;
}

.m-page{
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  min-width: 0;
}
