<div class="c-user c-block">
  <div class="c-user__card" itemscope="" itemtype="http://schema.org/Person">
   <div class="c-user__avatar">
    <div class="o-img is-round u-vignette" style="background-color: #767d7b;" data-size="100,100" data-defined="">
      <span style="display: block; padding-top: 100%"></span>
      <img src="https://a.d-cd.net/499a65as-100.jpg" loading="lazy" itemprop="image" width="100" height="100"></div>
    </div>
    <div class="c-user__info u-break-word">
      <div class="c-user__username">
        <a class="c-link c-link--color00 c-username c-username--wrap" href="/users/vynd" itemprop="url">
          <span itemprop="name">Vynd</span>
        </a>
      </div>
      <div class="c-user__name">Влад, 37&nbsp;лет</div>
      <div class="c-user__address">
        <span itemprop="address" data-tt="Днепр, Украина">Днепр, Украина</span>
      </div>
      <div class="c-user__status is-online">
        Сейчас онлайн
      </div>
    </div>
    <div class="c-user__stats">
      <div>
        <a class="c-link c-link--text" href="/users/vynd/followers"><b id="user-followers">150</b>&nbsp;<span id="user-followers-legend">подписчиков</span></a><br>
      </div>
      <div>
        <a class="c-link c-link--text" href="/users/vynd/carsfollowing"><b>949</b>&nbsp;машин читает</a>
      </div>
      <div>
        <a class="c-link c-link--text" href="/users/vynd/following"><b>52</b>&nbsp;человека в&nbsp;подписках</a>
      </div>
      <div>
        <a class="c-link c-link--text" href="/users/vynd/expfollowing"><b>1</b>&nbsp;подписка на&nbsp;модели и&nbsp;поколения</a>
      </div>
    </div>
    <a href="/my/profile" class="c-button u-100">Edit profile</a>
  </div>
</div>
