<header class="x-title-header">
  <h1 class="x-title">404 - PAGE NOT FOUND</h1>
</header>

<div class="c-block c-block--content c-block--side-bg g-column-mid" data-role="pagebg" style="background-image: url(&quot;/assets/images/sidebg/03.png&quot;);">
  <div class="text c-link-decorated">
      <p>Page not found. It might have been deleted or never existed in the first place.</p><p>Would you like to visit some other pages like:</p> <ul class="list-regular"> <li><a href="/">The main page</a></li> <li><a href="/newcars/">New Cars</a></li> <li><a href="/random/">Random Cars</a></li> <li><a href="/top/">Top Cars</a></li> <li><a href="/help/">Help</a></li> </ul>
  <p>Alternatively, you can use our search system.</p>
  </div>
 </div>
