:host{
  margin-top: 1rem;
  display: block;
}

mat-expansion-panel{
  flex: none;
  width: 640px;
  min-width: 0;
  margin: auto;
  text-align: center;
}

mat-expansion-panel-header h1{
  margin: 0;
  font-weight: 700;
}

mat-spinner{
  margin: auto;
}

.car-card{
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.car-card-image{
  width: 100%;
}

.car-card-image span{
  display: block;
}

.car-card-image img{
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  max-height: 337px;
}

.car-card-caption{
  margin: 20px 94px 15px 18px;
  font-size: 25px;
  line-height: 26px;
  text-align: left;
}

.car-card-caption span{
  margin: 20px 94px 15px 18px;
  font-size: 25px;
  line-height: 26px;
  font-weight: 500;
}
